@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-screen;
  @apply max-w-full;
  @apply overflow-x-hidden;
}

.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #1673ff 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #1673ff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spinner 1s infinite linear;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 10px;
  border: 10px solid rgba(37, 36, 36, 0);
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
