@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-screen;
  @apply max-w-full;
  @apply overflow-x-hidden;
}

.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #1673ff 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #1673ff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
    }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.hero {
  padding-top: 125px;
  animation: fade-up 0.5s;
}

.nav {
  animation: fade-down 0.5s;
}